{% extends "layout.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}

    <!-- This is the banner for the study mode that pops up under the nav bar and is initially hidden -->
    <div id="session-banner" class="hidden session-banner">
        <span id="session-timer">00:00:00</span>
        <button id="end-session-btn" class="end-session-btn">End Session</button>
    </div>

    <!-- This is the code for the actual calendar and builds the previous and next buttons along with the header and then the day labels (sun - sat)-->
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prevBtn" onclick="prevM()">Previous</button>
            <h2 id="monthYear"></h2>
            <button id="nextBtn" onclick="nextM()">Next</button>
        </div>
        <table id="calendarDates">
            <thead>
                <tr> 
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thur</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <!-- here is where the calendar is added, calendar.js builds this and adds it -->
            <tbody id="calendarBody">
            </tbody>
        </table>
    </div>

    <!-- Adds the session notes modal that is originally hidden but shows up when end session is clicked  -->
    <div id="session-notes-modal" class="modal-overlay hidden">

        <div class="reflection-modal-content">

            <h2 class="reflection-title">Study Reflection</h2>

            <textarea id="session-notes" class="reflection-textarea"
                placeholder="What did you work on today?" required></textarea>

            <input type="hidden" id="session-seconds-input">
            <input type="hidden" id="session-date-input">

            <div class="reflection-buttons">
                <button id="submit-session-notes" class="reflection-save-btn">Save</button>
                <button id="cancel-session-notes" class="reflection-cancel-btn">Cancel</button>
            </div>

        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
    <!-- connects this to calendar.js -->
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>

{% endblock %}
